.about {

    text-align: center;

    &__container {

        @include breakpoint-up(large){
            display: flex;
        }
    
    }

    &__heading {
        
        @include breakpoint-up(large){
            flex: 1;
            text-align: left;
            padding-right: 0;
        }

        h2 {
            margin-bottom: 2.5rem;
        }

        p {
            margin-bottom: 5.8rem;

            @include breakpoint-up(large){
                max-width: 35rem;
            }
        }
    }
}

.features {

    
    text-align: left;
    margin-bottom: 8rem;

    @include breakpoint-up(large){
        flex: 1;
        margin-bottom: 13rem;
        padding-right: 2.4rem;
    }

    &__item {
        margin-bottom: 5rem;

        @include breakpoint-up(large){
            margin-bottom: 4rem;
        }
    }

    &__content {
        
    }

    &__heading {
        margin-left: 1.8rem;
        margin-bottom: 1.8rem;
        background-color: #FEF0EA;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        
        @include breakpoint-up(large){
            margin-left: 0;
            background-color: transparent;
        }
    }

    &__number {
        display: inline-block;
        padding: 1rem 2.5rem;
        background-color: $brightRed;
        color: $white;
        font-weight: 500;
        border-radius:3rem;
    }

    &__title {
        display: inline;
        margin-left: 1.6rem;
    }

    &__text {
        padding: 0 1.8rem;

        @include breakpoint-up(large){
            margin-left: 87px;
            padding: 0;
        }
        
    }

    
}