.footer {

    background-color: $veryDarkBlue;
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;

    @include breakpoint-up(large){
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    &__container {
        
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;

        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1.5fr;
            align-items: start;
            position: relative;
        }
    }

    &__column {

        @include breakpoint-up(large){
            
        }

        &:nth-child(1){

            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 6rem;

            @include breakpoint-up(large){
                all: unset;
                order: 4;
            }

        }
        
        &:nth-child(2){
    
            text-align: left;
            padding: 0 3rem;

            @include breakpoint-up(large){
                order: 2;
             }
        }

        &:nth-child(3){
            text-align: left;
            padding: 0 3rem;
            
            @include breakpoint-up(large){
              
                order: 3;
             }
        }

        &:nth-child(4){

            flex-basis: 100%;
            
            @include breakpoint-up(large){
                all: unset;
                order: 1;
                display: flex;
                flex-direction: column-reverse;
                text-align: left;
            }
        }

        &:nth-child(5){

            @include breakpoint-up(large){
                
            }
        }

    }

    &__links__list {

    }

    &__links__items {

        a {
            color: $white;
            line-height: 2.4;
            font-size: 1.4rem;
            transition: all 150ms ease-in-out;

            &:hover {
                color: $brightRed;
                
            }

            @include breakpoint-up(large){
                font-size: 1.6rem;
            }
           
        }
    }


    &__socials {

        &__list {

            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5rem;
            margin-bottom: 5rem;

            @include breakpoint-up(large){
                margin: 0;
                justify-content: flex-start;
            }
        }

        &__items {

            &:not(:last-child){
                margin-right: 3.3rem;

                @include breakpoint-up(large){
                    margin-right: 1.2rem;
                }
            }

            a i {
                color: $white;
                font-size: 3.2rem;
                transition: all 150ms ease-in-out;
                &:hover {
                    color: $brightRed;
                }

                @include breakpoint-up(large){
                    font-size: 2rem;
                }
            }
        }

    }

    &__logo {
        margin-bottom: 5rem;

        @include breakpoint-up(large){
            margin-bottom: 10rem;
        }
    }

    &__copyright {
        font-size: 1.4rem;
        
        @include breakpoint-up(large){
            position: absolute;
            right: 3rem;
            bottom: 0;
        }
    }
}



.input-box {
    width: 70%;
    max-width: 40rem;
    padding: 1.6rem 2.5rem;
    border-radius: 10rem;
    border: none;
    margin-right: 0.8rem;
    font-family: $fontFamily;
    color: $darkGrayishBlue;

    @include breakpoint-up(large){
        width: 20rem;
    }
}

.input-submit {
    all: unset;
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: $white;
    padding: 1.6rem 3.1rem;
    background-color: $brightRed;
    border-radius: 5rem;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
   
}